body {
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 15% auto;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #333;
}
select, input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#capture-btn {
    margin-bottom: 15px;
}

/* Estilos para layout horizontal */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}
.left, .right {
    width: 45%; /* Largura igual para as divs esquerda e direita */
}
.center {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Espaço entre a imagem/logo e as colunas */
}

.left-column, .right-column {
    flex: 1; /* Cada coluna ocupa metade do espaço */
    margin: 0 10px; /* Espaçamento entre as colunas */
}

#captured-photo {
    display: none; /* A imagem capturada deve estar inicialmente oculta */
    margin-top: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
}


img {
    max-width: 100%;
    height: auto;
}
form {
    display: flex;
    flex-direction: column;
}

#webcam-container {
    margin: 15px 0;
    width: 100%;
    height: 200px;
    background-color: #000;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#canvas {
    display: none;
}
#captured-photo {
    display: none;
    margin-top: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
}


