body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #007BFF;
  color: white;
}

img {
  cursor: pointer;
  width: auto; /* Removido o max-width para manter o tamanho original */
  height: auto; /* Garante que a altura siga a proporção */
  max-width: 100%; /* Impede que a imagem ultrapasse o tamanho da célula ou do layout */
}


.modal {
  display: flex;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.modal-content img {
  width: auto; /* Mantenha a proporção */
  height: auto; /* Mantenha a proporção */
  max-height: 80vh; /* Limite a altura máxima */
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
